.header {
  background-color: $main_backcolor;
}
.header_transparent {
  background-color: transparent;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  //height: 77px;
}

.logo {
  display: block;
  width: 152px;
  height: 41px;
  background: url('../icons/logo_white.svg') no-repeat 50% 50%;
  background-size: cover;
  &:hover {
    background-image: url('../icons/logo_hover.svg');
    border: 0;
  }
}

.header__nav {
  font-size: 20px;
}

.nav > ul > li {
  display: inline-block;
  padding-left: 2rem;
}

.nav__link {
  text-decoration: none;
  color: $main_fontcolor;
}


