* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 340px;
  width: 100%;
  background-color: $main_backcolor;
  color: $main_fontcolor;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $yellow;
    border-bottom: 3px solid $yellow;
  }
}
.wrapper {
  position: relative;
  max-width: 1460px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.wrapper_big {
  max-width: 100%;
  height: 100%;
  padding: 0;
}
.flex {
  display: flex;
}
.flex-justify__between {
  justify-content: space-between;
}

.box-image {
  &:hover {
    border: 0;
  }
}
.main-container {
  padding-top: 77px;
}