$main_backcolor:      #000000;
$main_fontcolor:      #ffffff;
$footer_backcolor:    #282828;

$white:               #ffffff;
$yellow:              #e9b524;
$dark-grey:           #212121;



//breakpoints
$breakpoint-notebook: 1140px;
$breakpoint-laptop:   1024px;
$breakpoint-tablet:   768px;
$breakpoint-mobile:   480px;
