$main_backcolor: #000000;
$main_fontcolor: #ffffff;
$footer_backcolor: #212121;
$color-nav__link: #F8B611;
$main_font: 'Roboto';
$hover_project_font: 'Helvetica, Arial, sans-serif';

body {
    background-color: $main_backcolor;
    color: $main_fontcolor;
}

// header, footer

.header,
.footer {
    display: flex;
    background-color: $footer_backcolor;
    font-family: $main_font;
}

.footer {
    min-height: 20%;
    justify-content: left;
    align-items: center;
    font-size: 0.8rem;
    padding: 1.5rem 10rem;
}

.header {
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding: 0.2rem 10rem;
}

.logo,
.footer__arrow {
    max-width: 100%;
    height: 1.875rem;
}

.footer__arrow {
    min-height: 3rem;
    margin-right: 3rem;
}

.logo__image,
.footer__arrow__img {
    max-width: 100%;
    max-height: 100%;
}

.footer__text > p {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

.logo:hover {
    background-image: url('/assets/images/main/logo-white-hover.svg');
    background-size: contain;
}

.logo:hover a > .logo__image {
    background: transparent;
    visibility: hidden;
}

.nav > ul > li {
    display: inline-block;
    padding-left: 2rem;
}

.nav__link {
    text-decoration: none;
    color: $main_fontcolor;
}

.nav__link:hover {
    // color: #E55023;
    color: $color-nav__link;
}

.footer__arrow:hover .footer__arrow__img {
    filter: invert(70%) sepia(62%) saturate(1487%) hue-rotate(353deg) brightness(106%) contrast(94%);
}

// ---------------------------
// layout only flexbox
// ---------------------------

.main-container {
    display: flex;
    margin: 0.3rem;
    align-items: flex-start;
}

.left-images,
.right-images {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.left-images {
    margin-right: 0.15rem;
}

.right-images {
    margin-left: 0.15rem;
}

.main-container__image {
    max-width: 100%;
    height: auto;
}

// ---------------------------
// projects
// ---------------------------

.box-image {
    position: relative;
    overflow: hidden;
}

.box-image__image {
    width: 100%;
    height: 100%;
}

.inner-anima {
    display: flex;
    justify-content: center;
    transition: 2s;
    max-height: 100%;
}

.box-image_link {
    display: block;
    height: 100%;
}

.inner-anima::before,
.inner-anima::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    opacity: 0;
}

.box-image:hover .inner-anima::before,
.box-image:hover .inner-anima::after {
    transition: 0.9s;
    opacity: .5;
    // filter: saturate(200%);
    // transform: scale(1.51);
}

.box-image:hover .hover-project1::before,
.box-image:hover .hover-project1::after {
    background-image: url('/assets/images/main/hover-1.svg');
}

.box-image:hover .hover-project3::before,
.box-image:hover .hover-project3::after {
    background-image: url('/assets/images/main/hover-3.svg');
    background-size: 101%;
}

.box-image:hover .hover-project2::before,
.box-image:hover .hover-project2::after {
    background-image: url('/assets/images/main/hover-2.svg');
    background-size: 52%;
}

.box-image:hover .hover-project4::before,
.box-image:hover .hover-project4::after {
    background-image: url('/assets/images/main/hover-4.svg');
    transform: translate(-50%, -34%);
}

.box-image:hover .hover-project5::before,
.box-image:hover .hover-project5::after {
    background-image: url('/assets/images/main/hover-5.svg');
    background-size: 57%;
}

.text-anima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    z-index: 10;
}

.text-anima p {
    font-size: 0.8rem;
    font-family: $main_font;
    font-weight: 900;
    line-height: 2rem;
    margin: 0 auto;
    text-align: justify;
    transform: scale(3);
    transition: 1.2s;
    opacity: 0;
}

.text-anima--bottom {
    top: 81%;
}

.box-image:hover .text-anima p {
    transform: scale(2);
    opacity: 1;
}

.box-image:hover .box-image__image {
    // transform: scale(1);
    // filter: blur(0.04rem);
    filter: brightness(35%);
}

// ---------------------------
// only grid layout. left column increase
// don't used
// ---------------------------

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.3rem;
    // height: 130vh;
}

.projects__item {
    margin: 0;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__item--1 {
    grid-area: 1 / 1 / 4 / 2;
}
.projects__item--2 {
    grid-area: 4 / 1 / 7 / 2;
}
.projects__item--3 {
    grid-area: 1 / 2 / 3 / 3;
}
.projects__item--4 {
    grid-area: 3 / 2 / 5 / 3;
}
.projects__item--5 {
    grid-area: 5 / 2 / 7 / 3;
}
