$main_backcolor: #000000;
$main_fontcolor: #ffffff;
$footer_backcolor: #282828;

body {
    background-color: $main_backcolor;
    color: $main_fontcolor;
}

// header

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 50px;
}

.logo__image {
    max-height: 50px;

}

// footer

.footer {
    height: 80px;
    background-color: $footer_backcolor;

}

.nav > ul > li {
    display: inline-block;
    padding-left: 2rem;
}

.nav__link {
    text-decoration: none;
    color: $main_fontcolor;
}


.main-conteiner {
    display: flex;
    margin: 0.5rem;
}

.right-images {
    padding-left: 0.5rem;
}

.main-conteiner__image {
    max-width: 100%;
    height: auto;
    // border: 0.3rem solid #000000;
    // box-sizing: border-box;
}


.main-conteiner__image:hover {
    opacity: 0.5;
}
