body {
  background-color: #000000;
  color: #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 10rem;
  height: 15%;
  background-color: #212121;
}

.logo {
  max-width: 100%;
  height: 30px;
}

.logo__image {
  max-width: 100%;
  max-height: 100%;
}

.logo:hover {
  background-image: url("/assets/logo/logo-white-hover.svg");
  background-size: 100%;
}

.logo:hover a > .logo__image {
  background: transparent;
  visibility: hidden;
}

.footer {
  height: 80px;
  background-color: #212121;
}

.nav > ul > li {
  display: inline-block;
  padding-left: 2rem;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto";
}

.main-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left-images {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-right: 0.15rem;
}

.right-images {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-left: 0.15rem;
}

.main-conteiner__image {
  max-width: 100%;
  height: auto;
}

.box-imgage {
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container:before,
.container:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.hover-project-1::before,
.hover-project-1::after {
  width: 10rem;
  height: 10rem;
  background: #F8B611;
}

.hover-project-3::before,
.hover-project-3::after {
  background: #F8B611;
  height: 80px;
  width: 180px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  z-index: 10;
}

.text p {
  font-size: 0.8rem;
  font-family: "Roboto";
  font-weight: 900;
  line-height: 2rem;
  margin: 0 auto;
  text-align: justify;
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.box-imgage:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(0.04rem);
          filter: blur(0.04rem);
}

.box-imgage:hover .container::before,
.box-imgage:hover .container::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: .3;
}

.box-imgage:hover .hover-project-1::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(2);
          transform: translate(-50%, -50%) rotate(45deg) scale(2);
}

.box-imgage:hover .hover-project-1::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg) scale(2);
          transform: translate(-50%, -50%) rotate(90deg) scale(2);
}

.box-imgage:hover .hover-project-3::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(2);
          transform: translate(-50%, -50%) rotate(45deg) scale(2);
  opacity: 0.7;
}

.box-imgage:hover .hover-project-3::after {
  -webkit-transform: translate(-50%, -50%) rotate(135deg) scale(2);
          transform: translate(-50%, -50%) rotate(135deg) scale(2);
  opacity: 0.7;
}

.box-imgage:hover .text p {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 1;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0.3rem;
}

.projects__item {
  margin: 0;
}

.projects__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 4 / 2;
}

.projects__item--2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 7 / 2;
}

.projects__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

.projects__item--4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 5 / 3;
}

.projects__item--5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 7 / 3;
}

.grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.image-1 {
  background-image: url("/assets/images/main/project-1-left.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100px;
}

.right {
  background-color: green;
}
/*# sourceMappingURL=main.css.map */