$main_backcolor: #000000;
$main_fontcolor: #ffffff;
$footer_backcolor: #212121;
$animation-figure-proj1-color: #F8B611;
$animation-figure-proj3-color: #F8B611;
$main_font: 'Roboto';


body {
    background-color: $main_backcolor;
    color: $main_fontcolor;
}

// header

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 10rem;
    height: 15%;
    background-color: $footer_backcolor;
}

.logo {
    max-width: 100%;
    height: 30px;
}

.logo__image {
    max-width: 100%;
    max-height: 100%;
}

.logo:hover {
    background-image: url('../logo/logo-white-hover.svg');
    background-size: 100%;
}

.logo:hover a > .logo__image {
    background: transparent;
    visibility: hidden;
}


// footer

.footer {
    height: 80px;
    background-color: $footer_backcolor;

}

.nav > ul > li {
    display: inline-block;
    padding-left: 2rem;
}

.nav__link {
    text-decoration: none;
    color: $main_fontcolor;
    font-family: $main_font;
}

// только на флексах

.main-conteiner {
    display: flex;
    margin: 0.3rem;
    align-items: flex-start;
}

.left-images {
    flex: 0 0 50%;
    margin-right: 0.15rem;
}

.right-images {
    flex: 0 0 50%;
    margin-left: 0.15rem;
}

.main-conteiner__image {
    max-width: 100%;
    height: auto;
}

// animation for images

.box-imgage {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container:before,
.container:after {
    content: '';
    // width: 10rem;
    // height: 10rem;
    // width: calc(3rem + 15vh);
    // height: calc(3rem + 15vh);
    position: absolute;
    top: 50%;
    left: 50%;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // margin: auto;
    // background: $animation-figure-proj1-color;
    opacity: 0;
    transition: 2s;
    transform: translate(-50%, -50%) rotate(45deg);
}
// .container:before {
//     transform: translate(-50%, -50%) rotate(45deg);
// }
// .container:after {
//     transform: translate(-50%, -50%) rotate(45deg);
// }

.hover-project-1::before,
.hover-project-1::after {
    width: 10rem;
    height: 10rem;
    background: $animation-figure-proj1-color;
}

// cross
.hover-project-3::before,
.hover-project-3::after {
    background: $animation-figure-proj3-color;
    height: 80px;
    width: 180px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

    text-align: center;
    z-index: 10;
}

.text p {
    font-size: 0.8rem;
    font-family: $main_font;
    font-weight: 900;
    line-height: 2rem;
    margin: 0 auto;
    text-align: justify;
    transform: scale(3);
    transition: 1s;
    opacity: 0;
}

.box-imgage:hover img {
    transform: scale(1);
    filter: blur(0.04rem);
}

.box-imgage:hover .container::before,
.box-imgage:hover .container::after {
    transition: 0.5s;
    opacity: .3;
}

// two squares
.box-imgage:hover .hover-project-1::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(2);
}
.box-imgage:hover .hover-project-1::after {
    transform: translate(-50%, -50%) rotate(90deg) scale(2);
}

// cross
.box-imgage:hover .hover-project-3::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(2);
    opacity: 0.7;
}
.box-imgage:hover .hover-project-3::after {
    transform: translate(-50%, -50%) rotate(135deg) scale(2);
    opacity: 0.7;
}


.box-imgage:hover .text p {
    transform: scale(2);
    opacity: 1;
}


// .main-conteiner__image:hover {
//     opacity: 0.5;
// }

// .main-conteiner__image_project-1-left {}


// только на гридах с разделением на пропорции
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.3rem;
    // height: 130vh;
}

.projects__item {
    margin: 0;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__item--1 {
    grid-area: 1 / 1 / 4 / 2;
}
.projects__item--2 {
    grid-area: 4 / 1 / 7 / 2;
}
.projects__item--3 {
    grid-area: 1 / 2 / 3 / 3;
}
.projects__item--4 {
    grid-area: 3 / 2 / 5 / 3;
}
.projects__item--5 {
    grid-area: 5 / 2 / 7 / 3;
}

// на флексах с использование бэкграунда


.grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.image-1 {
    background-image: url('assets/images/main/project-1-left.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100px;

}

.right {
    background-color: green;
}
